 *{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 }
 .container1 {
     width: 100%;
     height: 70px;
     z-index: 999;
     background-color: white;
     position: sticky;
     line-height: 50px;

 }

 .nav {
     display: flex;
     justify-content: space-evenly;
 }

 .nav a {
     text-decoration: none;

 }

 nav li {
     list-style: none;
 }

 .navbtn {
     background-color: rgb(255, 204, 0);
     border: none;
     border-radius: 10px;
     width: 200px;
     height: 35px;

     margin: 15px 0 0 0;
     text-decoration: dotted underline;
 }
 .navbtn p {
     text-align: center;
     margin: -10px 0 0px 0;
 }

 .navimg {
     margin: 0 400px 0 0;
 }

 .baricon {
     font-size: 25px;
     margin: 15px 0 0 0;
 }

 .bracicon {
     font-size: 25px;
     margin: 15px 0 0 0;
 }

 .banimg {
     width: 100%;
     height: 600px;
     background: url(Images/Banner.png);
     background-size: cover;
 }

 .maintxt {
     text-transform: uppercase;
     font-weight: 100;
     text-align: center;
     margin: 0px 0 -40px 0;
 }
 .txt2 {
     text-align: center;
     font-weight: 200;
     font-size: 30px;
     margin: 0px 0 0px 0;
 }

 .txtbtn {
     text-transform: uppercase;
     font-weight: 100;
     text-align: center;
     border: 1px solid black;
     border-radius: 10px;
     height: 60px;
     font-size: 30px;
     background-color: transparent;
     margin: 110px 0 0 450px;
     width: 400px;

 }

 .txtbtn2 {
     text-transform: uppercase;
     font-weight: 100;
     text-align: center;
     border: 1px solid black;
     border-radius: 10px;
     height: 60px;
     font-size: 30px;
     background-color: transparent;
     margin: 30px 0 0 300px;
     width: 400px;

 }

 .container2 {
     width: 100%;
     height: 300px;
     display: flex;
     justify-content: center;
     margin: 50px 0 0 0;
 }

 .container2 p {
     text-align: center;
 }

 .line {
     margin: 50px 0 0 0;
 }

 .container3 {

     margin: 10px 0 0 0;
     background-color: rgb(239, 231, 208);
 }

 .container4 {
     width: 100%;
     height: 500px;
     display: flex;
     justify-content: space-evenly;
 }

 .img2 {
     height: 0px;
 }

 .img2 h6,
 p {
     text-align: center;
     margin: 10px 0 0 0;
 }

 .main {
     height: 600px;
     width: 100%;
     background: url(Images/TestiBG.png);
 }

 .HEAD {
     font-size: 40px;
     font-weight: 100;
     justify-content: center;
     align-items: center;
     display: flex;
     margin-right: 800px;

 }

 .cards {
     width: 250px;
     height: 40px;
     margin-bottom: 15px;
     background-color: rgba(255, 255, 0, 0.795);
     border: 2px solid yellow;
     border-top-right-radius: 15px;
     border: 2px solid yellow;
     border-top-left-radius: 15px;
     font-size: 25px;
     text-align: center;
     margin-top: -150px;
     margin-left: 100px;
 }

 .para2 {
     width: 250px;
     height: 200px;
     background-color: rgb(233, 216, 191);
     margin-top: -10px;
     border-bottom-right-radius: 15px;
     border: 2px solid rgb(233, 216, 191);
     border-bottom-left-radius: 15px;
     margin-left: 100px;
 }

 .img {
     justify-content: center;
     align-items: center;
     display: flex;
     margin-right: 900px;
     margin-top: 30px;
 }

 .text h1 {
     justify-content: center;
     align-items: center;
     display: flex;
     margin-right: 500px;
     margin-top: -120px;
     font-family: Times New Roman;
 }

 .text h4 {
     justify-content: center;
     align-items: center;
     display: flex;
     margin-right: 500px;
     margin-top: -15px;
     font-family: Times New Roman;
 }

 .main2 {
     height: 600px;
     width: 100%;
     background-color: white;
     justify-content: center;
     align-items: center;
     display: flex;
 }

 .button2 {
     font-size: 30px;
     background-color: RED;
     color: white;
     margin-top: 350px;
     margin-left: -700px;
     border-radius: 5px;
     border: none;
     width: 400px;
 }

 .footer {
     height: 300px;
     width: 100%;
     background-color: yellow;
     display: flex;
     justify-content: space-evenly;
     align-items: center;
 }

 .foot2 {
     margin: -0px 0 0 0;


 }

 .foot2 i {
     font-size: 25px;
     padding: 10px;
 }

 .foot2 img {
     margin-top: 10px;
 }